flow1.json
[{"id":"9c2ea144.549b9","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d922ef52.37178","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"41c41cdc.937134","type":"server-state-changed","z":"9c2ea144.549b9","name":"Finestre o porte aperte ?","server":"d922ef52.37178","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.finestreaperte","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":450,"y":320,"wires":[["915d06d3.158098"],[]]},{"id":"14e4e1cb.2c84ee","type":"api-call-service","z":"9c2ea144.549b9","name":"Imposta Temperatura PP in Caso di gradi minimi","server":"d922ef52.37178","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"","data":"{\"temperature\":\"{{payload_gradi_per_temp_min}}\",\"entity_id\":\"climate.primo_piano\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1380,"y":200,"wires":[[]]},{"id":"3367c4cd.5abecc","type":"inject","z":"9c2ea144.549b9","name":"ogni ora","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":520,"wires":[["2d523817.194e58"]]},{"id":"aee1db13.16f9d8","type":"api-current-state","z":"9c2ea144.549b9","name":"Gradi minimi - PP","server":"d922ef52.37178","version":1,"outputs":2,"halt_if":"payload_gradi_attuali","halt_if_type":"msg","halt_if_compare":"lt","override_topic":false,"entity_id":"sensor.riscaldamento_temperature","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1110,"y":560,"wires":[["8b5d0359.d8489","2b10aed1.4cfc32"],["cf26c777.38c918"]]},{"id":"2425d974.22eaa6","type":"api-current-state","z":"9c2ea144.549b9","name":"Qualcuno a casa?","server":"d922ef52.37178","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.famiglia","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":880,"wires":[["3c91b13.16ef14e"],["d33a9b1a.306d38"]]},{"id":"3c91b13.16ef14e","type":"time-range-switch","z":"9c2ea144.549b9","name":"Notte","lat":"45.76543","lon":"12.4756","startTime":"21:30","endTime":"6:00","startOffset":0,"endOffset":0,"x":750,"y":800,"wires":[["74e76f40.0b172"],["8647824a.b4d7a"]]},{"id":"8b5d0359.d8489","type":"ha-get-entities","z":"9c2ea144.549b9","server":"d922ef52.37178","name":"input_number.gradi_per_temp_min","rules":[{"property":"entity_id","logic":"is","value":"input_number.gradi_per_temp_min","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":640,"y":200,"wires":[["b7c0fa7e.f18bb8"]]},{"id":"b7c0fa7e.f18bb8","type":"change","z":"9c2ea144.549b9","name":"","rules":[{"t":"set","p":"payload_gradi_per_temp_min","pt":"msg","to":"payload[0].state\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":200,"wires":[["14e4e1cb.2c84ee","216b253e.d98a6a"]]},{"id":"e9fb9daa.e2fa3","type":"api-call-service","z":"9c2ea144.549b9","name":"Imposta Temperatura Nessuno a casa PP","server":"d922ef52.37178","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"","data":"{\"temperature\":\"{{payload_gradi_min_out}}\",\"entity_id\":\"climate.primo_piano\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1460,"y":980,"wires":[[]]},{"id":"d33a9b1a.306d38","type":"ha-get-entities","z":"9c2ea144.549b9","server":"d922ef52.37178","name":"input_number.gradi_minimo","rules":[{"property":"entity_id","logic":"is","value":"input_number.gradi_minimo","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":760,"y":960,"wires":[["6b7b58a4.090b28"]]},{"id":"6b7b58a4.090b28","type":"change","z":"9c2ea144.549b9","name":"","rules":[{"t":"set","p":"payload_gradi_min_out","pt":"msg","to":"payload[0].state\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":960,"wires":[["e9fb9daa.e2fa3","f87433bf.47c94"]]},{"id":"c82104e0.f915b8","type":"api-call-service","z":"9c2ea144.549b9","name":"Imposta Temperatura Normale PP","server":"d922ef52.37178","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"","data":"{\"temperature\":\"{{payload_gradi_ok}}\",\"entity_id\":\"climate.primo_piano\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1480,"y":840,"wires":[[]]},{"id":"8647824a.b4d7a","type":"ha-get-entities","z":"9c2ea144.549b9","server":"d922ef52.37178","name":"input_number.gradi_ok","rules":[{"property":"entity_id","logic":"is","value":"input_number.gradi_ok","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":880,"y":880,"wires":[["cb29ab0a.d2ebb8"]]},{"id":"cb29ab0a.d2ebb8","type":"change","z":"9c2ea144.549b9","name":"","rules":[{"t":"set","p":"payload_gradi_ok","pt":"msg","to":"payload[0].state\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":880,"wires":[["c82104e0.f915b8","d20c717c.997f9"]]},{"id":"20714edb.1e10e2","type":"api-call-service","z":"9c2ea144.549b9","name":"Imposta Temperatura Notte PP","server":"d922ef52.37178","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"","data":"{\"temperature\":\"{{payload_gradi_notte}}\",\"entity_id\":\"climate.primo_piano\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1570,"y":740,"wires":[[]]},{"id":"74e76f40.0b172","type":"ha-get-entities","z":"9c2ea144.549b9","server":"d922ef52.37178","name":"input_number.gradi_notte","rules":[{"property":"entity_id","logic":"is","value":"input_number.gradi_notte","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":990,"y":780,"wires":[["3b1e34df.d5609c"]]},{"id":"3b1e34df.d5609c","type":"change","z":"9c2ea144.549b9","name":"","rules":[{"t":"set","p":"payload_gradi_notte","pt":"msg","to":"payload[0].state\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":780,"wires":[["20714edb.1e10e2","f5d84fa3.6355a"]]},{"id":"5a30fe2c.38d37","type":"ha-get-entities","z":"9c2ea144.549b9","server":"d922ef52.37178","name":"sensor.riscaldamento_temperature","rules":[{"property":"entity_id","logic":"is","value":"sensor.riscaldamento_temperature","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":2000,"y":620,"wires":[["bd9505b9.ba6a88"]]},{"id":"bd9505b9.ba6a88","type":"change","z":"9c2ea144.549b9","name":"","rules":[{"t":"set","p":"payload_gradi_attuali_PP","pt":"msg","to":"payload[0].state\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2000,"y":660,"wires":[["d55c2c1a.ee171"]]},{"id":"99e1cefc.eeab5","type":"server-state-changed","z":"9c2ea144.549b9","name":"Qualcuno a casa","server":"d922ef52.37178","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.famiglia","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":400,"y":620,"wires":[["2d523817.194e58"],[]]},{"id":"f5d84fa3.6355a","type":"api-call-service","z":"9c2ea144.549b9","name":"Imposta Temperatura Notte PT","server":"d922ef52.37178","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"","data":"{\"temperature\":\"{{payload_gradi_notte}}\",\"entity_id\":\"climate.piano_terra\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1570,"y":800,"wires":[[]]},{"id":"d20c717c.997f9","type":"api-call-service","z":"9c2ea144.549b9","name":"Imposta Temperatura Normale PT","server":"d922ef52.37178","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"","data":"{\"temperature\":\"{{payload_gradi_ok}}\",\"entity_id\":\"climate.piano_terra\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1480,"y":920,"wires":[[]]},{"id":"f87433bf.47c94","type":"api-call-service","z":"9c2ea144.549b9","name":"Imposta Temperatura Nessuno a casa PT","server":"d922ef52.37178","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"","data":"{\"temperature\":\"{{payload_gradi_min_out}}\",\"entity_id\":\"climate.piano_terra\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1460,"y":1040,"wires":[[]]},{"id":"8cd1394d.c60bd8","type":"server-state-changed","z":"9c2ea144.549b9","name":"Qualcuno non a casa","server":"d922ef52.37178","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.famiglia","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"not_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":420,"y":560,"wires":[["2d523817.194e58"],[]]},{"id":"cf26c777.38c918","type":"api-current-state","z":"9c2ea144.549b9","name":"Gradi minimi PT","server":"d922ef52.37178","version":1,"outputs":2,"halt_if":"payload_gradi_attuali","halt_if_type":"msg","halt_if_compare":"lt","override_topic":false,"entity_id":"sensor.piano_terra_temperature","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1380,"y":580,"wires":[["8b5d0359.d8489","3c32208b.b368b"],["e6f7b0ca.aa32"]]},{"id":"3faa22f9.7c4fee","type":"ha-get-entities","z":"9c2ea144.549b9","server":"d922ef52.37178","name":"input_number.gradi_per_temp_min","rules":[{"property":"entity_id","logic":"is","value":"input_number.gradi_minimo","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":860,"y":500,"wires":[["803c22e1.e1422"]]},{"id":"803c22e1.e1422","type":"change","z":"9c2ea144.549b9","name":"","rules":[{"t":"set","p":"payload_gradi_attuali","pt":"msg","to":"payload[0].state\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":560,"wires":[["aee1db13.16f9d8"]]},{"id":"216b253e.d98a6a","type":"api-call-service","z":"9c2ea144.549b9","name":"Imposta Temperatura PT in Caso di gradi minimi","server":"d922ef52.37178","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"","data":"{\"temperature\":\"{{payload_gradi_per_temp_min}}\",\"entity_id\":\"climate.piano_terra\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1380,"y":260,"wires":[[]]},{"id":"545ee9ea.bf1e38","type":"ha-get-entities","z":"9c2ea144.549b9","server":"d922ef52.37178","name":"sensor.piano_terra_temperature","rules":[{"property":"entity_id","logic":"is","value":"sensor.piano_terra_temperature","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":1990,"y":400,"wires":[["ea09393e.8f9588"]]},{"id":"ea09393e.8f9588","type":"change","z":"9c2ea144.549b9","name":"","rules":[{"t":"set","p":"payload_piano_terra_temperature","pt":"msg","to":"payload[0].state\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2030,"y":440,"wires":[["934ce85a.a38248"]]},{"id":"934ce85a.a38248","type":"api-call-service","z":"9c2ea144.549b9","name":"Piano Terra avviso Alessandro","server":"d922ef52.37178","version":1,"debugenabled":false,"service_domain":"notify","service":"ios_alessandro","entityId":"","data":"{\"message\": \"Temperatura Piano Terra impostata a {{payload_gradi_per_temp_min}} in quanto sono {{payload_piano_terra_temperature}} gradi\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1990,"y":480,"wires":[[]]},{"id":"3c32208b.b368b","type":"ha-get-entities","z":"9c2ea144.549b9","server":"d922ef52.37178","name":"input_number.gradi_per_temp_min","rules":[{"property":"entity_id","logic":"is","value":"input_number.gradi_per_temp_min","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":2000,"y":320,"wires":[["7f1ea9a1.414ed8"]]},{"id":"7f1ea9a1.414ed8","type":"change","z":"9c2ea144.549b9","name":"","rules":[{"t":"set","p":"payload_gradi_per_temp_min","pt":"msg","to":"payload[0].state\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2010,"y":360,"wires":[["545ee9ea.bf1e38"]]},{"id":"2b10aed1.4cfc32","type":"ha-get-entities","z":"9c2ea144.549b9","server":"d922ef52.37178","name":"input_number.gradi_per_temp_min","rules":[{"property":"entity_id","logic":"is","value":"input_number.gradi_per_temp_min","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":2000,"y":540,"wires":[["f32d574e.53c708"]]},{"id":"f32d574e.53c708","type":"change","z":"9c2ea144.549b9","name":"","rules":[{"t":"set","p":"payload_gradi_per_temp_min","pt":"msg","to":"payload[0].state\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2010,"y":580,"wires":[["5a30fe2c.38d37"]]},{"id":"d55c2c1a.ee171","type":"api-call-service","z":"9c2ea144.549b9","name":"Primo Piano avviso Alessandro","server":"d922ef52.37178","version":1,"debugenabled":false,"service_domain":"notify","service":"ios_alessandro","entityId":"","data":"{\"message\": \"Temperatura Primo Piano impostata a {{payload_gradi_per_temp_min}} in quanto sono {{payload_gradi_attuali_PP}} gradi\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1990,"y":700,"wires":[[]]},{"id":"2d523817.194e58","type":"api-current-state","z":"9c2ea144.549b9","name":"Gradi esterni < 17","server":"d922ef52.37178","version":1,"outputs":2,"halt_if":"17","halt_if_type":"num","halt_if_compare":"lt","override_topic":false,"entity_id":"sensor.meteo_darksky_temperature","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":610,"y":460,"wires":[["3faa22f9.7c4fee"],["cfe8762.d6d0788","c2808ebe.84032"]]},{"id":"915d06d3.158098","type":"api-call-service","z":"9c2ea144.549b9","name":"","server":"d922ef52.37178","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.finestreaperte","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":400,"wires":[["cfe8762.d6d0788","c2808ebe.84032"]]},{"id":"cfe8762.d6d0788","type":"api-call-service","z":"9c2ea144.549b9","name":"Imposta PP a 5 gradi","server":"d922ef52.37178","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"","data":"{\"temperature\":\"5\",\"entity_id\":\"climate.primo_piano\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":680,"y":620,"wires":[[]]},{"id":"c2808ebe.84032","type":"api-call-service","z":"9c2ea144.549b9","name":"Imposta PT a 5 gradi","server":"d922ef52.37178","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"","data":"{\"temperature\":\"5\",\"entity_id\":\"climate.piano_terra\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":680,"y":680,"wires":[[]]},{"id":"675c6d52.dcaa94","type":"server-state-changed","z":"9c2ea144.549b9","name":"Temp Bagno < 17","server":"d922ef52.37178","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d000358c8ea_temperature","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"17","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"x":440,"y":1060,"wires":[["a24af80f.8a4728"],[]]},{"id":"a24af80f.8a4728","type":"api-current-state","z":"9c2ea144.549b9","name":"Gradi esterni < 17","server":"d922ef52.37178","version":1,"outputs":2,"halt_if":"17","halt_if_type":"num","halt_if_compare":"lt","override_topic":false,"entity_id":"sensor.meteo_darksky_temperature","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":470,"y":1140,"wires":[["21f59dca.a4dec2"],[]]},{"id":"21f59dca.a4dec2","type":"api-call-service","z":"9c2ea144.549b9","name":"Imposta Temperatura 19 PP","server":"d922ef52.37178","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"","data":"{\"temperature\":\"19\",\"entity_id\":\"climate.primo_piano\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":460,"y":1200,"wires":[[]]},{"id":"e6f7b0ca.aa32","type":"api-current-state","z":"9c2ea144.549b9","name":"Nonna a casa","server":"d922ef52.37178","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.iphone_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":480,"y":800,"wires":[["3c91b13.16ef14e"],["2425d974.22eaa6"]]},{"id":"998de8bd.85be18","type":"inject","z":"9c2ea144.549b9","name":"Inizio giorno","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"01 06 * * *","once":false,"onceDelay":0.1,"x":410,"y":440,"wires":[["2d523817.194e58"]]},{"id":"f7bad311.89af2","type":"inject","z":"9c2ea144.549b9","name":"Inizio notte","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"31 21 * * *","once":false,"onceDelay":0.1,"x":410,"y":480,"wires":[["2d523817.194e58"]]}]